/client/.env.local
/client/.env
/client/node_modules
/client/package-lock.json
client/yarn.lock

# server
/server/.env.local
/server/node_modules
/server/package-lock.json
/server/yarn.lock

#global
/todo.todo
