.content {
  padding: 20px 15px;
}

.btnGrp {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
.btnGrp button {
  width: 50%;
  background-color: var(--primary-btn);
  padding: 7px 14px;
  border-radius: 5px;
  /* min-height: 20px; */
}
.btnGrp button:nth-child(1) {
  background-color: var(--sec-btn);
}
