.content {
  padding: 20px 15px;
}
.platform {
  display: flex;
  justify-content: space-between;
}

.platform:nth-child(2) {
  margin-top: 15px;
}
.btnGrp {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
.btnGrp button {
  width: 50%;
  background-color: var(--primary-btn);
  padding: 7px 14px;
  border-radius: 5px;
}
.btnGrp button:nth-child(1) {
  background-color: var(--sec-btn);
}
/* toogle */
.toggle_switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle_switch input[type="checkbox"] {
  display: none;
}
.toggle_switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: var(--link-hover);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle_switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 1.99px;
  width: 21.3px;
  height: 21.3px;
  background-color: var(--link-hover);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle_switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: var(--primary-btn);
}
.toggle_switch input[type="checkbox"]:checked + .switch {
  background-color: #5865f27e;
}
