footer {
  min-height: 110px;
  background-color: var(--sec-bg);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.left .social {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social .icon {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon:hover {
  background-color: var(--primary-btn);
  transform: scale(1.01);
}
.right a {
  text-decoration: underline;
  font-weight: 500;
}
