.content {
  padding: 20px 15px;
}

.content .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form input {
  color: var(--p-color);
  padding: 10px 5px;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 5px;
}
.form input:focus {
  outline: 1px solid #5865f2a9;
}
.form input:nth-child(2) {
  margin-top: 10px;
}
.btnGrp {
  margin-top: 15px;
}
.btnGrp button {
  width: 100%;
  background-color: var(--primary-btn);
  padding: 7px 14px;
  border-radius: 5px;
}
