.active {
  color: var(--primary-btn);
  border-right: 3px solid var(--primary-btn);
}
.active_icon {
  fill: var(--primary-btn);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 18px;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: var(--sec-bg);
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--p-color);
}
body {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  outline: 0;
  border: 0;
  opacity: 0.95;
  cursor: pointer;
}
button:hover {
  opacity: 1;
}
input {
  border: 0;
  outline: 0;
}
/* colours and themes */
:root {
  --primary-bg: #000000;
  --sec-bg: #171717;
  --primary-btn: #5865f2;
  --sec-btn: rgba(51, 51, 51, 0.582);
  --link-hover: rgba(128, 128, 128, 0.116);
  --border: rgba(51, 51, 51, 0.479);
  --scroll: #3a474b;
  --p-color: #fff;
  --semi_gray: #f1f2fa;
}
/* sidebar styling */

.sidebar_con {
  display: flex;
  width: 100%;
  gap: 30px;
  padding-top: 80px;
}

/* markdown style */
.rc-md-editor .editor-container .sec-md .input,
.rc-md-editor .editor-container .sec-html .html-wrap,
.rc-md-editor .rc-md-navigation {
  background-color: #0d1117 !important;
  color: #fff;
}

.rc-md-editor .editor-container > .section {
  border-right: 1px solid #30363d;
}
.rc-md-editor .rc-md-navigation {
  border-bottom: 1px solid #30363d;
}

.rc-md-editor {
  border: 1px solid var(--border) !important;
}
.drop-wrap {
  background-color: var(--sec-bg) !important;
  border-color: var(--border) !important;
  border-style: solid !important;
  border-width: 1px !important;
}

.custom-html-style code,
.custom-html-style pre {
  background-color: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
}
