nav {
  z-index: 100;
  width: 100%;
  height: 70px;
  background: var(--sec-bg);
  /* background-color: #222326; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
}
nav .logo a {
  color: var(--p-color);
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo .brand {
  background-color: var(--primary-btn);
  height: 35px;
  width: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links {
  display: flex;
  align-items: center;
}
.links img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--primary-btn);
  cursor: pointer;
  background-color: #5353536c;
}
.login {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--primary-btn);
  cursor: pointer;
}

.login span {
  color: var(--p-color);
  font-weight: 400;
}

.watch {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
