.sidebar {
  position: sticky;
  top: 80px;
  left: 0;
  min-height: calc(100vh - 80px);
  height: 100%;
  min-width: 230px;
  background-color: var(--sec-bg);
  padding: 10px 0;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .logo {
  padding-bottom: 30px;
  padding-left: 20px;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.links a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.links a:hover {
  background-color: var(--link-hover);
}

.last_btn {
  padding: 0 10px;
}

.last_btn .button {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--primary-btn);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  margin-bottom: 10px;
}

.active {
  color: red;
}
